*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  color: var(--color-text-inverse);
  background: var(--color-bg-brand);
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--color-analytics-blue);
}

html,
body {
  height: 100%;
}

body {
  @include typography-Medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include typography-Medium-Bold;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  user-select: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

ul,
ol {
  li {
    list-style: none;
  }
}

#root {
  height: 100%;
}

.loaderWrapper {
  text-align: center;
}

.tag {
  background: var(--color-components-bg-lightblue);
  color: var(--color-text-link);
  @include typography-Medium-Bold;

  &.blue {
    border-color: var(--color-bg-brand-plate);
    background: var(--color-bg-brand-plate);
    color: var(--color-text-brand);
  }

  &.green {
    border-color: var(--color-bg-success);
    background: var(--color-bg-success);
    color: var(--color-text-success);
  }

  &.orange {
    color: var(--color-text-warning);
    border-color: var(--color-bg-warning);
    background: var(--color-bg-warning);
  }

  &.grey {
    color: var(--color-text-basic);
    border-color: var(--color-bg-plate);
    background: var(--color-bg-plate);
  }

  &.red {
    border-color: var(--color-bg-error);
    background: var(--color-bg-error);
    color: var(--color-text-error);
  }
}

.breadcrumbs {
  margin-bottom: 32px;
}

.searchEmpty {
  @include typography-Small-Semibold;
  text-align: center;
  color: var(--color-text-basic);
}

.errorMessage {
  @include typography-Nano;
  margin-top: 4px;
  color: var(--rcl-color-text-error);
}