:root {
  --color-text-basic: #8b8b8b;
  --color-text-headers: #000000;
  --color-text-secondary: #b6b6b6;
  --color-text-disabled: #cccccc;
  --color-text-brand: #8f07cf;
  --color-text-brand-1: #a539d9;
  --color-text-brand-hover:  #a92adb;
  --color-text-brand-pressed: #7c00b7;
  --color-text-warning: #ff8d27;
  --color-text-success: #4caf50;
  --color-text-error: #ff4444;
  --color-text-inverse: #ffffff;
  --color-text-link: #5067de;
  --color-text-link-hover: #7284e2;
  --color-text-link-pressed: #3954de;
  --color-bg-base: #ffffff;
  --color-bg-base-1: #fafafa;
  --color-bg-plate: #f2f2f2;
  --color-bg-plate-1: #d1cfd7;
  --color-bg-success: #e4ffeb;
  --color-bg-success-active: #4caf50;
  --color-bg-success-active-1: #5ace5f;
  --color-bg-success-pressed: #358038;
  --color-bg-error: #ffdfdf;
  --color-bg-error-active: #ff4444;
  --color-bg-error-active-1: #ff6161;
  --color-bg-error-active-pressed: #d62c2c;
  --color-bg-warning: #fff1e4;
  --color-bg-warning-active: #ff8d27;
  --color-bg-accent: #fee833;
  --color-bg-accent-1: #fff565;
  --color-bg-accent-pressed: #e4d12f;
  --color-bg-brand: #8f07cf;
  --color-bg-brand-1: #a539d9;
  --color-bg-brand-pressed: #7c00b7;
  --color-bg-brand-plate: #f4e6fa;
  --color-bg-brand-gradient: linear-gradient(
    188.09deg,
    #560c98 6.22%,
    #8f07cf 147.57%
  );
  --color-border-basic: #cccccc;
  --color-border-secondary: #f0f0f3;
  --color-border-brand: #8f07cf;
  --color-border-brand-faded: #f4e6fa;
  --color-border-focused: #5067de;
  --color-border-error: #f96666;
  --color-border-success: #067b00;
  --color-border-warning: #ff773c;
  --color-border-link-hover: #7284e2;
  --color-border-link-pressed: #3954de;
  --color-icon-link: #5067de;
  --color-icon-link-hover: #7284e2;
  --color-icon-link-pressed: #3954de;
  --color-icon-basic: #8b8b8b;
  --color-icon-basic-2: #000000;
  --color-icon-secondary: #cccccc;
  --color-icon-brand: #8f07cf;
  --color-icon-brand-hover: #a539d9;
  --color-icon-brand-hover-2: #a92adb;
  --color-icon-brand-pressed: #7c00b7;
  --color-icon-inverse: #ffffff;
  --color-icon-error: #f96666;
  --color-icon-success: #067b00;
  --color-icon-warning: #ff773c;
  --color-components-bg-lightpurple: #ecdaff;
  --color-components-bg-lightblue: #e4eaff;
  --color-components-bg-counter: #f96666;
  --color-components-bg-tooltip: #4e4e53;
  --color-components-bg-mainmenu-active: rgba(58, 0, 120, 0.08);
  --color-components-bg-mainmenu-active-hover: rgba(58, 0, 120, 0.16);
  --color-components-bg-mainmenu-active-pressed: rgba(58, 0, 120, 0.24);
  --color-components-bg-mainmenu-active-disabled: rgba(58, 0, 120, 0.04);
  --color-analytics-blue: #5067de;
  --color-analytics-yellow: #dac400;
  --color-analytics-cyan: #5bcbcf;
  --color-analytics-pink: #f965cf;
  --color-analytics-paleblue: #5382b0;
  --color-gradient-1: linear-gradient(
    180deg,
    rgba(143, 7, 207, 0.08) 0%,
    rgba(93, 122, 223, 0.12) 100%
  );
  --color-gradient-3: linear-gradient(
    180deg,
    rgba(148, 99, 208, 0.12) 0%,
    rgba(100, 20, 255, 0.12) 100%
  );
}
