@font-face {
  font-family: 'HaussBold';
  font-display: swap;
  src:
    url('/fonts/als_hauss_bold.woff2') format('woff'),
    url('/fonts/als_hauss_bold.woff') format('woff');
}

@font-face {
  font-family: 'HaussMedium';
  font-display: swap;
  src:
    url('/fonts/als_hauss_medium.woff2') format('woff'),
    url('/fonts/als_hauss_medium.woff') format('woff');
}

@font-face {
  font-family: 'HaussRegular';
  font-display: swap;
  src:
    url('/fonts/als_hauss_regular.woff2') format('woff'),
    url('/fonts/als_hauss_regular.woff') format('woff');
}
