version: "3.8"

services:
  #фронтенд-сервис
  frontend:
    build:
      context: services/frontend # Контекст сборки - текущая директория
      dockerfile: Dockerfile
      args:
        NGINX_CONF: nginx.conf
    ports:
      - "3000:3000" # Проброс портов
    networks:
      - app-network
    restart: unless-stopped

    #бекенд-сервис
  backend:
    build:
      context: services/backend # Контекст сборки - текущая директория
      dockerfile: Dockerfile
    env_file:
      - services/backend/.env
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: wedding_postgres
    env_file:
      - postgres.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
    name: wedding_net # Явное имя сети для удобства отладки

volumes:
  postgres_data:
