version: "3.8"

services:
  #фронтенд-сервис
  frontend:
    build:
      context: services/frontend # Контекст сборки - текущая директория
      dockerfile: Dockerfile
      args:
        NGINX_CONF: nginx.conf
    ports:
      - "3000:3000" # Проброс портов
    networks:
      - app-network
    restart: unless-stopped

    #бекенд-сервис
  backend:
    build:
      context: services/backend # Контекст сборки - текущая директория
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - services/backend/.env
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
    name: wedding_net # Явное имя сети для удобства отладки

