.greeting {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.mainTitle {
  text-align: center;
  display: block;
  font-size: 42px;
  line-height: 52px;
  margin-top: 60px;
  @media (max-width: 768px) {
    font-size: 36px;
    margin-top: 30px;
  }
}
