.container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 400px;
  width: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    width 0.8s ease-in-out,
    height 0.8s ease-in-out;
  transform-origin: center;
  pointer-events: none;
  border: 4px solid #fff;
  transition: all 0.8s ease-in-out;

  @media (max-width: 768px) {
    height: 300px;
    width: 300px;
  }

  .image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.imageWrapperExpanded {
  height: 100dvh;
  width: 100%;
  transform: translate(-50%, -50%) scale(1);

  border: none;
  @media (max-width: 768px) {
    transform: translate(-50%, -50%) scale(2);
  }
}

.buttonWrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  transition: all 0.8s ease-in-out;
  @media (max-width: 768px) {
    bottom: 5%;
  }

  &.buttonWrapperExpanded {
    pointer-events: none;
    opacity: 0;
  }
}

.button {
  transition: all 0.3s ease;
  border: 2px solid var(--text-color-white);
  padding: 10px;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);

    .iconContainer .icon {
      transform: rotate(15deg);
    }
  }
}

.buttonText {
  color: var(--text-color-white);
  max-width: 150px;
  text-align: center;
  @include typography-Large;
}
.lazyImageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.8s ease-in-out;
  border: none;
  span {
    width: 100%;
    height: 100%;
  }
}

.iconContainer {
  position: relative;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.active {
    opacity: 1;
  }
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: fit-content;
  height: fit-content;
  transition: all 0.8s ease-in-out;
  visibility: visible;

  &.titleContainerView {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
  .internalTitleContainer {
    transform: rotate(90deg);
  }
  .title {
    @include typography-H1;
    font-family: 'Glanz', sans-serif;
    white-space: nowrap;
    width: fit-content;
  }
  .letter {
    display: block;
    transform: rotate(-90deg);
    width: fit-content;
    font-family: 'Glanz', sans-serif;
    font-size: 150px;
    line-height: 150px;
    &.left {
      width: 70px;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      transform: rotate(-90deg) translateX(50%) translateY(10%);
    }
    &.right {
      width: 70px;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      transform: rotate(-90deg) translateX(-50%) translateY(90%);
    }
  }
}
