.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  row-gap: 20px;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
.mainTitle {
  text-align: center;
  display: block;
  font-size: 42px;
  line-height: 42px;
  margin-top: 60px;
  @media (max-width: 768px) {
    font-size: 36px;
    margin-top: 40px;
  }
}
.program {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 0.05fr 1fr;
  grid-template-rows: 1fr 1 fr repeat(4, 1fr);
  grid-column-gap: 0px;
}

.rigntUp {
  grid-area: 1 / 3 / 3 / 4;
  margin-top: 62px;
  margin-bottom: 32px;
}
.rigntMiddle {
  grid-area: 3 / 3 / 5 / 4;
  margin-bottom: 32px;
}
.rigntDown {
  grid-area: 5 / 3 / 7 / 4;
  margin-bottom: 62px;
}
.leftUpFirst {
  margin-top: 62px;
  grid-area: 1 / 1 / 2 / 2;
}
.leftUpSecond {
  grid-area: 2 / 1 / 3 / 2;
  margin-bottom: 32px;
}
.leftMiddleFirst {
  grid-area: 3 / 1 / 4 / 2;
}
.leftMiddleSecond {
  grid-area: 4 / 1 / 5 / 2;
  margin-bottom: 32px;
}
.leftDowmFirst {
  grid-area: 5 / 1 / 6 / 2;
}
.leftDowmSecond {
  grid-area: 6 / 1 / 7 / 2;
  margin-bottom: 62px;
}
.middleDivider {
  grid-area: 1 / 2 / 7 / 3;
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 2px;
    height: 95%;
    border-radius: 2px;
    background-color: #000;
  }
}

.subTitleStep {
  font-size: 18px;
}

.titleStep {
  font-size: 18px;
  text-align: right;
  font-weight: bold;
}
.time {
  font-size: 32px;
  line-height: 32px;
  text-align: right;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: repeating-linear-gradient(
      to right,
      #000 0px,
      #000 2px,
      transparent 2px,
      transparent 6px
    );
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
