$wideLarge: 1920px;
$mainWidth: 1712px;
$extraLarge: 1440px;
$xLarge: 1240px;
$large: 1024px;
$medium: 767px;
$small: 575px;

:root {
  --wide-large: #{$wideLarge};
  --main-width: #{$mainWidth};
  --extra-large: #{$extraLarge};
  --x-large: #{$xLarge};
  --large: #{$large};
  --medium: #{$medium};
  --small: #{$small};
}
