@font-face {
  font-family: 'Arian';
  src: url('../fonts/Arian_normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arian';
  src: url('../fonts/Arian_normal_italic_0.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arian';
  src: url('../fonts/Arian_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arian';
  src: url('../fonts/Arian_bold_italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Glanz';
  src: url('../fonts/Glanz.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Glanz';
  src: url('../fonts/Glanz\ Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
