.calendar {
  max-width: 400px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.calendarHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 0;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendarDay {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 8px;
  position: relative;
  &.empty {
    visibility: hidden;
  }
}
.title {
  text-align: center;
  display: block;
  font-size: 42px;
  line-height: 42px;
}

.heartIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: pulse 2s infinite ease-in-out;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
@keyframes pulse {
  0%,
  100% {
    /* Возвращаем translate + добавляем scale */
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    /* Сохраняем translate + меняем scale */
    transform: translate(-50%, -50%) scale(1.1);
  }
}
