.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  row-gap: 20px;
  opacity: 1;
  transition: all 0.7s ease-in-out;
  padding-bottom: 80px;
}
.mainTitle {
  text-align: center;
  display: block;
  font-size: 42px;
  line-height: 42px;
  margin-top: 60px;
  max-width: 200px;
  @media (max-width: 768px) {
    font-size: 36px;
    margin-top: 40px;
  }
}

.phone {
  max-width: 600px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: black;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
