.appLayout {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.appContent {
  margin: 0 auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
